body {
  text-align: center;
  background-color: rgba(223, 223, 223, 0.315);
  min-height: 100vh;
  margin: 0;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

hr {
  width: 350px;
  height: 3px;
  background-color: rgb(179, 179, 179);
  border: 0 none;
  margin-top: 5px;
  margin-bottom: 5px;
}
